.applicants-review-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    &__heading{
        font-weight: 400;
        text-align: center;
        font-size: 1.2rem;
        width: 90%;
        text-align: center;
    }

    &__carousel-wrapper{
        width: 90%;
    }

    &__no-applicants{
        font-weight: 300;
        font-size: 1.3rem;
        text-align: center;
        width: 90%;
        padding-top: 20px;
    }
}